<!doctype html>
<html lang="PT">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wolf Sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container-fluid">

            <a href="/administrativo"><img src="https://i.pinimg.com/736x/8a/47/9e/8a479e6bf2e4f138e942fddd8b6c25c3.jpg" class="icon" alt="Imagem" width="40" height="40" style="margin-right: 10px;"></a>

            <a class="navbar-brand" href="/administrativo">Wolf Sistema</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#conteudoNavbarSuportado"
                    aria-controls="conteudoNavbarSuportado"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/administrativo">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search"
                        placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-outline-light" type="submit">
                        Pesquisar
                    </button>
                </form>

            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group" style="margin-top: 10px;">
                    <li class="list-group-item active"><i class="fa-solid fa-gears"></i> Funcionalidades </li>
                    <a href="/cadastroVenda"><li class="list-group-item">Efetuar Venda</li></a>
                    <a href="/listarVenda"><li class="list-group-item">Listar Vendas</li></a>
                    <a href="/cadastroEntrada"><li class="list-group-item">Efetuar Entrada de Produto</li></a>
                    <a href="/listarEntrada"><li class="list-group-item">Listar Entradas de Produtos</li></a>

                    <li class="list-group-item active"><i class="fa-solid fa-square-plus"></i> Cadastros </li>
                    <a href="/cadastroEstado"><li class="list-group-item">Cadastro Estado</li></a>
                    <a href="/cadastroCidade"><li class="list-group-item">Cadastro Cidade</li></a>
                    <a href="/cadastroFuncionario"><li class="list-group-item">Cadastro Funcionário</li></a>
                    <a href="/cadastroCliente"><li class="list-group-item">Cadastro Cliente</li></a>
                    <a href="/cadastroFornecedor"><li class="list-group-item">Cadastro Fornecedor</li></a>
                    <a href="/cadastroProduto"><li class="list-group-item">Cadastro Produto</li></a>

                    <li class="list-group-item active"><i class="fa-solid fa-list-ul"></i> Listas </li>
                    <a href="/listarEstado"><li class="list-group-item">Lista Estado</li></a>
                    <a href="/listarCidade"><li class="list-group-item">Lista Cidade</li></a>
                    <a href="/listarFuncionario"><li class="list-group-item">Lista Funcionário</li></a>
                    <a href="/listarCliente"><li class="list-group-item">Lista Cliente</li></a>
                    <a href="/listarFornecedor"><li class="list-group-item">Lista Fornecedor</li></a>
                    <a href="/listarProduto"><li class="list-group-item">Lista Produto</li></a>
                </ul>
            </div>
            <div class="col-md-9">
                <h1>Bem vindo ao sistema Wolf</h1>
                <p>Sistema de vendas simplificado e intuitivo!</p>
                <p> @Feito em 2025, por Jhonathan Emanuel </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>